<h3 class="text-lg font-semibold text-gray-800 mb-4">Set New Password</h3>

<form method="POST"
      hx-post="{% url 'change_password_set_new' %}"
      hx-target="#passwordModalContent"
      hx-swap="innerHTML"novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="mb-4 p-3 bg-red-50 border border-red-200 text-red-600 text-sm rounded-lg">
            {{ form.non_field_errors.0 }}
        </div>
    {% endif %}

    {% for field in form %}
        {% include "components/auth_field.html" %}
    {% endfor %}

    <div class="flex justify-end gap-3 mt-6">
        <button type="button" onclick="closePasswordModal()" class="text-gray-600">Cancel</button>
        <button type="submit"
                class="px-5 py-2 bg-[#A89289] text-white rounded-md hover:bg-[#8f7a73] transition shadow-sm">
            Update Password
        </button>
    </div>
</form>