{% extends 'admin/base_admin.html' %}


{% block content %}
<h1>User Management</h1>

<form method="get" action="">
  <input type="text" name="q" value="{{ search_query }}" placeholder="Search for Customers...">
  <button type="submit">Search</button>
  {% if search_query %}
    <a href="{% url 'user_list' %}">Clear</a>
  {% endif %}
</form>
<br>

<a href="{% url 'add_user' %}" class="btn">+ Add New Customer</a>
<br>
<br>
<table border="1" cellpadding="6">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.phone_number }}</td>
        <td>{{ user.is_deleted|yesno:"Blocked,Unblocked" }}</td>
        <td></td>
        
      </tr>
    {% empty %}
      <tr><td colspan="5">No user found.</td></tr>
    {% endfor %}
  </tbody>
</table>

<div>
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">Previous</a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">Next</a>
  {% endif %}
</div>

<script>
    

let cropper;

document.getElementById("input-image").addEventListener("change", function (e) {
  const file = e.target.files[0];
  const preview = document.getElementById("preview");
  preview.src = URL.createObjectURL(file);
  preview.style.display = "block";

  if (cropper) cropper.destroy();

  cropper = new Cropper(preview, {
    aspectRatio: 1,        
    viewMode: 1,
    autoCropArea: 1,
  });
});

document.getElementById("upload-btn").addEventListener("click", async () => {
  if (!cropper) return;

  cropper.getCroppedCanvas().toBlob(async (blob) => {
    const formData = new FormData();
    formData.append("file", blob);
    formData.append("upload_preset", "YOUR_PRESET");

    const response = await fetch(
      "https://api.cloudinary.com/v1_1/YOUR_CLOUD_NAME/image/upload",
      { method: "POST", body: formData }
    );

    const data = await response.json();
    console.log("Uploaded:", data.secure_url);
  });
});
</script>
{% endblock %}
