<div class="max-w-xl mx-auto bg-white rounded-xl border shadow-sm p-6">

   
    <div class="flex items-center justify-between mb-5">
        <h2 class="text-xl font-semibold text-gray-800">
            Wallet
        </h2>
        <span class="text-sm text-gray-500">
            {{ wallet.user.first_name }} {{ wallet.user.last_name }}
        </span>
    </div>

    <div class="bg-[#F7F4F2] border border-[#E6DDD8] rounded-lg p-5">

        <p class="text-sm text-gray-600 mb-1">
            Available Balance
        </p>

        {% if wallet.balance > 0 %}
            <p class="text-3xl font-bold text-[#6B4F44]">
                ₹{{ wallet.balance }}
            </p>
            <p class="text-xs text-gray-500 mt-2">
                Use this balance during checkout
            </p>
        {% else %}
            <p class="text-lg font-semibold text-gray-500">
                ₹0.00
            </p>
            <p class="text-sm text-gray-500 mt-2">
                Your wallet is empty
            </p>
        {% endif %}

    </div>

</div>
<div class="mt-8 bg-white rounded-xl border shadow-sm p-6">

    <h3 class="text-lg font-semibold text-gray-800 mb-4">
        Wallet Transactions
    </h3>

    {% if page_obj %}
        <div class="divide-y">

            {% for tx in page_obj %}
            <div class="flex justify-between items-center py-4">

                <div>
                    <p class="text-sm font-medium text-gray-800">
                        {{ tx.get_source_display }}
                    </p>

                    <p class="text-xs text-gray-500">
                        {{ tx.created_at|date:"d M Y, h:i A" }}
                    </p>

                    {% if tx.order %}
                        <p class="text-xs text-gray-400">
                            Order ID: {{ tx.order.order_id }}
                        </p>
                    {% endif %}
                </div>

                <div class="text-right">
                    {% if tx.transaction_type == "credit" %}
                        <p class="text-green-600 font-semibold">
                            + ₹{{ tx.amount }}
                        </p>
                    {% else %}
                        <p class="text-red-600 font-semibold">
                            - ₹{{ tx.amount }}
                        </p>
                    {% endif %}
                </div>

            </div>
            {% endfor %}

        </div>
    {% else %}
        <p class="text-sm text-gray-500">
            No wallet transactions yet.
        </p>
    {% endif %}
</div>
     {% include "commerce/wallet/pagination.html" %}

    
