{% extends "user/navbar_footer.html" %}

{% block content %}

<nav class="text-sm text-gray-500 mb-4">
    <a href="/">Home</a> ›
    <a href="{% url 'category_products' product.category.id %}">{{ product.category.name }}</a> ›
    <span class="text-gray-700">{{ product.name }}</span>
</nav>

{% comment %} <div class="max-w-4xl mx-auto py-10">
    
    <!-- Product Name -->
    <h1 class="text-3xl font-bold mb-4">{{ product.name }}</h1>

    <!-- Product Images -->
    <div class="grid grid-cols-2 gap-4 mb-6">
        {% for img in product.images.all %}
            <img src="{{ img.image.url }}" alt="{{ product.name }}" class="rounded-lg shadow">
        {% empty %}
            <p>No images available.</p>
        {% endfor %}
    </div>

    <!-- Product Description -->
    <p class="text-gray-700 mb-6">{{ variants.description }}</p>

    <!-- Product Variants -->
    <h2 class="text-xl font-semibold mt-6 mb-2">Available Variants</h2>

    <div class="space-y-3">
        {% for v in variants %}
            <div class="p-4 border rounded-lg shadow-sm bg-white">
                <p><strong>Stock:</strong> {{ v.stock }}</p>
                <p><strong>Price:</strong> ₹{{ v.sales_price }}</p>
            </div>
        {% empty %}
            <p>No variants available.</p>
        {% endfor %}
    </div>

</div> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>
<script>
  mediumZoom('.zoomable');
</script>

{% endblock content %}
