<!DOCTYPE html>
<html>
<head>
  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
</head>
<body>
  <button id="upload_widget">Upload Image</button>
  <script>
    const uploadWidget = cloudinary.createUploadWidget({
      cloudName: 'dcaevmkgg',
      uploadPreset: 'product_preset',
      cropping: true,
      croppingCoordinatesMode: 'custom',
      croppingAspectRatio: 1,
      showSkipCropButton: false,
      transformation: [
        { width: 800, height: 800, crop: "fill", gravity: "auto", quality: "auto:good" }
      ]
    }, (error, result) => {
      console.log(result);
      if (result.event === "success" && result.info.cropped_coordinates) {
      const { x, y, width, height } = result.info.cropped_coordinates;
      const finalUrl = `https://res.cloudinary.com/dcaevmkgg/image/upload/c_crop,x_${x},y_${y},w_${width},h_${height},c_fill,w_800,h_800/${result.info.public_id}.${result.info.format}`;
      imageUrls.push(finalUrl);
      renderPreview();
    }

    });
    
    
    document.getElementById("upload_widget").addEventListener("click", () => uploadWidget.open(), false);
  </script>
</body>
</html>
